* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Osmanya", sans-serif;
}

/* NavBar Section */

.logo-img {
  width: 110px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list-items {
  margin-right: 0.5rem;
}

/* Hero Section */

.heroimg {
  width: 100%;
  height: 900px;
  object-fit: cover;
  object-position: center 80%;
}
